body, div, ul, li {
    padding: 0;
    margin: 0;
    font-family: arial, serif;
    font-size: 15px;
    line-height: 19px;
    color: #333;
}

#outer_container {
    box-sizing: border-box;
}

#header_container {
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    padding: 10px;
    background: #000;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    line-height: 45px;
    color: #000;
    margin-bottom: 20px;
}

#logo {
    width: 200px;
    height: 37px;
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

#logo img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#nav {
    text-align: center;
}

#nav ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#nav li {
    list-style: none;
    margin-left: 20px;
    float: left;
    font-size: 16px;
}

.nav_button {
    border-radius: 8px;
    text-decoration: none;
    background: #3a5795;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}

.nav_button:hover {
    background-color: darkgray;
    transition: 0.4ms;
}

.nav_button:focus {
    background-color: lightskyblue;
}

.container_button {
    border-radius: 8px;
    text-decoration: none;
    background: #3a5795;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}

.container_button:hover {
    background-color: darkgray;
    transition: 0.4ms;
}

.container_button:focus {
    background-color: lightskyblue;
}

#content_container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

#main_content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
}

#tier_list_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tier-container {
    display: flex;
    flex-direction: column;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    background: #1a1a17;
}

.tier-row {
    display: flex;
    min-height: 80px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    justify-content: space-between;
}

.label-holder {
    width: 100px;
    min-height: 80px;
    border-right: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier-sort {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings-control {
    width: 80px;
    display: flex;
    flex-direction: row;
    background: #000;
    align-items: center;
    justify-content: center;
}

.settings {
    width: 40px;
    height: 40px;
    background: url(https://tiermaker.com/images/chart/chart/settings.png) center no-repeat;
    cursor: pointer;
    display: inline-block;
}

.move-buttons {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.move-up {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: url(https://tiermaker.com/images/chart/chart/arrowup.png);
}

.move-down {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: url(https://tiermaker.com/images/chart/chart/arrowdown.png);
}

#object-carousel {
    margin: 5px auto;
    text-align: left;
    flex-wrap: wrap;
}

.object {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    color: white;
    background-color: gray;
    text-decoration-color: greenyellow;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


#save-container {
    padding: 10px;
    text-align: center;
}

#add-row {
    padding: 10px;
    text-align: center;
}

#other_container {
    margin: 0;
    padding: 0;
    max-width: 1200px;
}

#absolute_position {
    font-size: 5px;
    position: absolute;
}

#timer {
    color: transparent;
}

#add-component {
    text-align: center;
    margin: 10px auto;
}

@media(max-width: 425px) {
    #nav {
        display: none;
    }
}

#object-carousel {
    display: flex;
}

div {
    display: block;
}